<h2>
  Earned: {{money incomeSum "$"}}
</h2>

{{progress-bar widthPercent=incomePercent class="income-bar"}}

<h2>
  Spent: {{money expenseSum "$"}}
</h2>

{{progress-bar widthPercent=expensePercent class="expense-bar"}}
