{{nav-bar
  currentUser=session.currentUser
  goPeriodBack=(action 'goPeriodBack')
  goPeriodNext=(action 'goPeriodNext')
  period=period
}}

{{side-bar
  sumDifference=sumDifference
  expenseSum=expenseSum
  incomeSum=incomeSum
}}

<div class="main">
  {{outlet}}
</div>

{{global-links}}
